#calculator {
    background-color: grey;
    text-align: center;
    padding: 1em 2em;
    height: 30em;
    width: 30em;
}

h1 {
    display: flex;
    padding-left: 500px;
}

#screen {
	height:50px;
	background-color: white;
}

.row {

}

button {
	    height: 4em;
	    background-color: white;
        color: black;
        font-weight: bold;
        vertical-align: middle;
    }

#screen {
    text-align: right;
    font-size: 2em;
    font-weight: 200;
    }